<div class="overflow-x-auto px-10 py-10 mt-24">
    <h3 class="text-center font-bold">Teams</h3>
    <table class="table text-center mt-3">
        <!-- head -->
        <thead>
            <tr>
                <th>Logo</th>
                <th>Team</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @if (!isLoading) {
            @for (team of teams; track $index) {
            <tr (click)="navToDetails(team.id)" class="hover:bg-base-300">
                <td [width]="20">
                    <div class="avatar">
                        <div class="ring-primary ring-offset-base-100 w-12 rounded-full ring ring-offset-2">
                            <img src="{{team.logoUrl}}" />
                        </div>
                    </div>
                </td>
                <td>{{team.name}}</td>
                <td>{{team.created | date }}</td>
            </tr>
            }
            } @else {
                <tr>
                    <td colspan="3">
                        <span class="loading loading-ring loading-lg py-10"></span>
                        <p>Loading Teams...</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="fixed bottom-5 right-4">
    <button class="btn btn-secondary font-bold rounded-full shadow-lg"
        onclick="team_modal.showModal()">
        <i class="bi bi-plus" style="font-size: 1.5rem;"></i>
    </button>
</div>

<dialog id="team_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <div>
                <h5 class="text-lg font-semibold mb-2">Team Name</h5>
                <input type="text" formControlName="name"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div>
                <h5 class="text-lg font-semibold mb-2">Logo</h5>
                <input type="file" (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png,.gif,.webp"
                    class="file-input w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div class="flex justify-between mt-6">
                <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                    (click)="onCancel()">
                    Cancel
                </button>

                <button type="submit" [disabled]="teamForm.get('name')?.invalid"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed">
                    Submit
                </button>
            </div>
        </form>
    </div>
</dialog>